* {
    margin: 0;
    padding: 0;
}
#container_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.App {
    height: 100%;
    overflow-y: hidden;
}
section:nth-child(1) {
    margin: 5rem 6rem;
    display: flex;
    flex-direction: column;
}
section:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100%;
}

