#DownloadQrCode {
    padding: 5rem 2rem;
    background-color: #2C67FF;
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img_qrcode {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 15px;
}
#DownloadQrCode div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;
}
#DownloadQrCode div .btn_download {
    width: 136px;
    height: 3.5rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.btn_download {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}
.icon_Download {
    width: 35px;
}
@media screen and (max-width: 900px) {
    #DownloadQrCode {
        padding: 5rem 0rem;
        background-color: #2C67FF;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 420px) and (max-width: 720px) {
    #DownloadQrCode div .btn_download {
        width: 100px;
        height: 3.5rem;
        background-color: white;
        outline: none;
        border: none;
        border-radius: 15px;
        font-size: 20px;
        text-transform: uppercase;
    }
}